[package]
name = "wasm-worker"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
dwbase-wit-guest = { path = "../../crates/dwbase-wit-guest" }
serde = { version = "1.0.214", features = ["derive"] }
serde_json = "1.0.132"
